# Compiled object files
*.o

# Executable files
*.out
*.exe
main

# Build directory
/build/
bin/

# IDE specific files
*.vscode/
*.sublime-project
*.sublime-workspace
*.idea/

# Mac OS X specific files
.DS_Store

# Linux specific files
*~

# Temporary files
*.tmp
*.log

